In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import seaborn as sns 
import matplotlib.pyplot as plt

In [2]:
country = pd.read_csv("../dataset/country.csv")
league = pd.read_csv("../dataset/league.csv")
match = pd.read_csv("../dataset/match.csv")
player = pd.read_csv("../dataset/player.csv")
player_attributes = pd.read_csv("../dataset/player_attributes.csv")
team = pd.read_csv("../dataset/team.csv", encoding = "ISO-8859-1")
team_attributes = pd.read_csv("../dataset/team_attributes.csv")

In [4]:
homedogswin = pd.read_csv("../dogscore/homedogswin.csv", index_col = 0)
awaydogswin = pd.read_csv("../dogscore/awaydogswin.csv", index_col = 0 )
match1 = pd.read_csv("../dogscore/match1.csv", index_col = 0)

In [115]:
homedogswin

     home_team_id  wins  games  dogscore
1            1773     3     11  0.272727
2            2033     1     22  0.045455
3            4087     2     13  0.153846
4            6269     2      5  0.400000
5            6367     1      4  0.250000
..            ...   ...    ...       ...
172         10267     1     15  0.066667
173         10281     4     11  0.363636
174        158085     1     10  0.100000
175        208931     1      7  0.142857
176        274581     3      7  0.428571

[176 rows x 4 columns]

# which are the teams with the highest dog score

In [29]:
# find dog teams with score > 0.4, much higher than predicted probability (<1/3.5)
benchmark = .4
high_dog_home = homedogswin.sort_values(by = "dogscore", ascending = False)[homedogswin.dogscore >= benchmark]
high_dog_away = awaydogswin.sort_values(by = "dogscore", ascending = False)[awaydogswin.dogscore >= benchmark]

D:\softwares\anaconda\envs\data science\lib\site-packages\ipykernel_launcher.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  This is separate from the ipykernel package so we can avoid doing imports until
D:\softwares\anaconda\envs\data science\lib\site-packages\ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.

In [114]:
high_dog_away

     away_team_id  wins  games  dogscore
105          8635     1      1  1.000000
189          9925     1      1  1.000000
96           8593     2      3  0.666667
65           8479     4      8  0.500000
34           8262     6     15  0.400000
108          8640     2      5  0.400000

In [46]:
team_names_home = high_dog_home["home_team_id"]
team_names_away = high_dog_away["away_team_id"]
team_names = team_names_home.append(team_names_away).drop_duplicates()
team_names

60       8548
97       9748
68       8573
26       8295
22       8203
72       8586
130      9875
65       8560
6        6391
80       8636
82       8650
163     10229
110      9809
88       8668
128      9873
176    274581
137      9905
4        6269
103      9790
105      8635
189      9925
96       8593
65       8479
34       8262
108      8640
dtype: int64

# Analyse attributes of these teams

In [59]:
attributes = team_attributes[team_attributes.team_id.isin(team_names)]
attributes.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 125 entries, 33 to 1318
Data columns (total 23 columns):
team_id                           125 non-null int64
date                              125 non-null object
buildUpPlaySpeed                  125 non-null int64
buildUpPlaySpeedClass             125 non-null object
buildUpPlayDribbling              44 non-null float64
buildUpPlayDribblingClass         125 non-null object
buildUpPlayPassing                125 non-null int64
buildUpPlayPassingClass           125 non-null object
buildUpPlayPositioningClass       125 non-null object
chanceCreationPassing             125 non-null int64
chanceCreationPassingClass        125 non-null object
chanceCreationCrossing            125 non-null int64
chanceCreationCrossingClass       125 non-null object
chanceCreationShooting            125 non-null int64
chanceCreationShootingClass       125 non-null object
chanceCreationPositioningClass    125 non-null object
defencePressure                   125 non-null int64
defencePressureClass              125 non-null object
defenceAggression                 125 non-null int64
defenceAggressionClass            125 non-null object
defenceTeamWidth                  125 non-null int64
defenceTeamWidthClass             125 non-null object
defenceDefenderLineClass          125 non-null object
dtypes: float64(1), int64(9), object(13)
memory usage: 23.4+ KB

In [65]:
num_col = ['buildUpPlaySpeed', 'buildUpPlayDribbling',
       'buildUpPlayPassing', 'chanceCreationPassing', 'chanceCreationCrossing',
       'chanceCreationShooting', 'defencePressure', 'defenceAggression',
       'defenceTeamWidth']
cat_col = ['buildUpPlaySpeedClass','buildUpPlayDribblingClass','buildUpPlayPassingClass','buildUpPlayPositioningClass','chanceCreationPassingClass',
           'chanceCreationCrossingClass', 'chanceCreationShootingClass' ,'chanceCreationPositioningClass', 'defencePressureClass' 'defencePressureClass'
           'defenceAggressionClass', 'defenceTeamWidthClass', 'defenceDefenderLineClass']

In [86]:
for i in num_col:
    print(i, attributes[i].mean(), team_attributes[i].mean())

buildUpPlaySpeed 52.736 52.46227709190672
buildUpPlayDribbling 50.18181818181818 48.607361963190186
buildUpPlayPassing 47.32 48.49039780521262
chanceCreationPassing 52.408 52.16529492455418
chanceCreationCrossing 55.12 53.731824417009605
chanceCreationShooting 55.904 53.96913580246913
defencePressure 48.344 46.01714677640604
defenceAggression 51.52 49.251028806584365
defenceTeamWidth 53.304 52.185871056241425

Finding: Dogs are likely to have higher buildUpPlayDribbling, chanceCreationCrossing, chanceCreationShooting, defencePressure, defenceAggression, defenceTeamWidth 
Can possibly undertake hypothesis testing on these.

D:\softwares\anaconda\envs\data science\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until